.bg-dark-70{
    background-color: #000 on the left, #fff on the right;
    background-size: 100% 100%;
}

.bg-blue-deep{
    background-color: #2d2938 ;
}

.total-card{
    padding: 15px;
    background-color: #2d2938 ;
    border-radius: 15px;
}

.mockup{
    img{
        width: 100%;
        height: auto;
    }
}

.btn-calc{
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #2d2938;
    padding: 10px;
}