.bg-color{
    background-color: #fcfcfd;
}

.card-customer{
    font-family: Poppins;
}

.fa-quote-left{
    font-size: 40px;
    color: #f37321;
    // color: #13c3c9;
    padding: 12px 15px;
    background-color: #fff;
    border-radius: 50%;
    
}

.bg-green-light{
    background-color: #ebeced;
}

.bg-green-light-2{
    background-color: #ebeced;
}

.shadow-card{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}

p-carousel {
    max-width: 100%; /* Asegura que el p-carousel no sea más ancho que el contenedor */
    width: 100%; /* Opcional: ajusta el ancho del p-carousel según tus necesidades */
  }
