<section id="section-ourservices" class="ourservices">
    <div class="capa py-8">
        <div class="container flex flex-column justify-content-center gap-7">
            <div class="container w-7 py-4">
                <p class="text-summary text-center" [class.fade-in-bottom]="visible1">Professional screen printing service for your specific needs. With over 30 years in the business, it's safe to say, we are tShirtGuys!</p>
            </div>
            <!-- <div class="text-header">
                <h1 class="text-header-section text-dark">Our Services</h1>
            </div> -->
            <div class="text-header py-4 flex flex-column align-items-center" [class.fade-in-bottom]="visible2">
                <h1 class="text-header-section text-dark">Our Services</h1>
                <img src="../../../../../assets/image/underline2.png" width="200px" alt="">
            </div>
            <div class="services py-4 grid" [class.fade-in-bottom]="visible3">
                <div class="col-12 md:col-6 lg:col-3 flex gap-3">
                    <i class="pi pi-check pt-1" style="font-size: 2.5rem"></i>
                    <div class="flex flex-column gap-3 justify-content-between">
                        <h2 class="text-dark">Screen printing</h2>
                        <p class="text-dark flex-grow-1">Screen printing is a printing technique where a mesh is used
                            to transfer ink onto a garment, if you need quality you need screen printing of tShirtGuys.
                        </p>
                        <a class="btn btn-service slide_right" (click)="navigateTo('section-pricing')">PRICING <i
                                class="pi pi-arrow-right ml-2" style="font-size: 1rem"></i></a>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3 flex gap-3">
                    <i class="pi pi-check pt-1" style="font-size: 2.5rem"></i>
                    <div class="flex flex-column gap-3 justify-content-between">
                        <h2 class="text-dark">Full Package</h2>
                        <p class="text-dark flex-grow-1">Select garment, prepare art to print, special label, print
                            screen, hangtag, fold, polybag, pre-pack, direct shipping.</p>
                        <a class="btn btn-service slide_right" >READ MORE <i class="pi pi-arrow-right ml-2"
                                style="font-size: 1rem"></i></a>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3 flex gap-3">
                    <i class="pi pi-check pt-1" style="font-size: 2.5rem"></i>
                    <div class="flex flex-column gap-3 justify-content-between">
                        <h2 class="text-dark">Embroidery</h2>
                        <p class="text-dark flex-grow-1">Please contact your Customer Service Representative for
                            details.</p>
                        <a class="btn btn-service slide_right" >GET A QUOTE <i class="pi pi-arrow-right ml-2"
                                style="font-size: 1rem"></i></a>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3 flex gap-3">
                    <i class="pi pi-check pt-1" style="font-size: 2.5rem"></i>
                    <div class="flex flex-column gap-3">
                        <h2 class="text-dark">Color separation</h2>
                        <p class="text-dark flex-grow-1">This includes cleaning up the file to make it print ready and
                            creating a proof for the prepress approval process.</p>
                        <a class="btn btn-service slide_right" >MORE INFO <i class="pi pi-arrow-right ml-2"
                                style="font-size: 1rem"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>