<app-section-home></app-section-home>

<app-section-aboutus></app-section-aboutus>

<app-section-ourservices></app-section-ourservices>

<app-section-workflow></app-section-workflow>

<app-section-work></app-section-work>

<app-section-image-switch></app-section-image-switch>

<app-section-happy-clients></app-section-happy-clients>

<!-- <app-section-pricing></app-section-pricing> -->

<!-- <app-section-calc-price></app-section-calc-price> -->

<app-faq></app-faq>

<app-section-quality-certified></app-section-quality-certified>