<section class="py-7 grid">
    <div class="info-left col-12 md:col-6 p-5 flex flex-column gap-3 justify-content-center align-items-center" [class.slide-in-left]="visible1">
        <h1 class="text-header-section mb-5">tShirtGuys Main Office</h1>
        <div class="flex gap-5">
            <div class="pb-3 flex flex-column gap-4 align-items-start">
                <div class="flex gap-3 align-items-baseline">
                    <i class="pi pi-user" style="font-size: 1.6rem; color: #ffd200;"></i>
                    <span>Maria Rodriguez</span>
                </div>
                <div class="flex gap-3 align-items-baseline">
                    <i class="pi pi-phone" style="font-size: 1.6rem; color: #ffd200;"></i>
                    <span>USA +40 8802 9947</span>
                </div>
                <div class="flex gap-3 align-items-center">
                    <i class="pi pi-envelope" style="font-size: 1.6rem; color: #ffd200;"></i>
                    <span>maria@tshirtguys.com</span>
                </div>
            </div>
            <div class="flex flex-column gap-4 align-items-start">
                <div class="flex gap-3 align-items-baseline">
                    <i class="pi pi-user" style="font-size: 1.6rem; color: #ffd200;"></i>
                    <span>Jorge Villalobos</span>
                </div>
                <div class="flex gap-3 align-items-baseline">
                    <i class="pi pi-phone" style="font-size: 1.6rem; color: #ffd200;"></i>
                    <span></span>
                </div>
                <div class="flex gap-3 align-items-center">
                    <i class="pi pi-envelope" style="font-size: 1.6rem; color: #ffd200;"></i>
                    <span>georgev@tshirtguys.com</span>
                </div>
            </div>
        </div>
        <span><strong>Ensenada Baja California, México.</strong></span>
    </div>
    <div class="info-right col-12 md:col-6 p-5" [class.slide-in-right]="visible2">
        <h1 class="text-header-section mb-5">Locations We Serve</h1>
        <div class="flex gap-8 flex-wrap justify-content-center">
            <div class="flex flex-column align-items-center">
                <span>San Francisco, CA</span>
                <span>Los Angeles, CA</span>
                <span>San Jose, CA</span>
            </div>
            <div class="flex flex-column align-items-center">
                <span>Sacramento, CA</span>
                <span>Las Vegas, NV</span>
                <span>Reno, NV</span>
            </div>
        </div>
    </div>
</section>