<section class="py-7 grid">
    <div class="col-12 md:col-6 p-5">
        <h1 class="text-header-section mb-5">tShirtGuys Main Office</h1>
        <div class="flex flex-column gap-4 align-items-center">
            <div class="flex gap-3 align-items-baseline">
                <i class="pi pi-phone" style="font-size: 1.6rem; color: #ffd200;"></i>
                <div class="flex flex-column">
                    <span>MX +52 646 173 31 44</span>
                    <span>USA 1 619 793 4635 x116</span>
                </div>
            </div>
            <div class="flex gap-3 align-items-center">
                <i class="pi pi-envelope" style="font-size: 1.6rem; color: #ffd200;"></i>
                <span>info@tshirtguys.com</span>
            </div>
            <span><strong>Ensenada Baja California, México.</strong></span>

        </div>
    </div>
    <div class="col-12 md:col-6 p-5">
        <h1 class="text-header-section mb-5">Locations We Serve</h1>
        <div class="flex gap-8 flex-wrap justify-content-center">
            <div class="flex flex-column align-items-center">
                <span>San Francisco, CA</span>
                <span>Los Angeles, CA</span>
                <span>San Jose, CA</span>
            </div>
            <div class="flex flex-column align-items-center">
                <span>Sacramento, CA</span>
                <span>Las Vegas, NV</span>
                <span>Reno, NV</span>
            </div>
        </div>
    </div>
</section>