
<section class="presentation">
    <div class="hero">
        <div class="container content-middle">
            <h1 class="title">PROFESSIONAL <br>SCREEN PRINTING
                <span class="tiny-border"></span>
            </h1>
            <div class="bottons flex gap-3">
                <!-- <a pRipple class="btn btn-start" href="#">START ONLINE</a> -->
                <a pRipple class="btn btn-start" routerLink="/contact">CONTACT US</a>
            </div>
        </div>
        <div class="wave"></div>
    </div>
    <!-- <div class="wave" style="height: 150px; overflow: hidden;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-1.41,89.31 C253.67,255.11 312.92,-155.41 501.41,98.20 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
    </div> -->
</section>