<section class="bg-color py-8">
    <!-- <div class="texto-sobre-fondo py-7"> -->
    <div class="container flex flex-column justify-content-center gap-7">
        <div class="text-header">
            <h1 class="text-header-section">Work You Can Trust</h1>
        </div>
        <div class="flex flex-wrap gap-5 justify-content-evenly">
            <div class="relative">
                <div class="card-process">
                    <i class="pi pi-chart-line" style="font-size: 2.5rem"></i>
                    <h2>Medium and large projects</h2>
                </div>
                <div class="card-process-back">
                </div>
            </div>
            <div class="relative">
                <div class="card-process">
                    <i class="pi pi-shield" style="font-size: 2.5rem"></i>
                    <h2>Full Value Insurance</h2>
                </div>
                <div class="card-process-back">
                </div>
            </div>
            <div class="relative">
                <div class="card-process">
                    <i class="pi pi-percentage" style="font-size: 2.5rem"></i>
                    <h2>95% Referral Rate</h2>
                </div>
                <div class="card-process-back">
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>