<section class="bg-color">
    <div class="texto-sobre-fondo flex justify-content-between align-items-end">
        <!-- <div class="p-0">
            <img src="../../../../../assets/image/splash1.png" width="100%"  alt="">
        </div> -->
        <div class="py-8 flex-grow-1 flex flex-column justify-content-center gap-7">
            <div class="text-header flex flex-column  align-items-center">
                <h1 class="text-header-section text-dark">Work You Can Trust</h1>
                <img src="../../../../../assets/image/underline2.png" width="300px" alt="">
            </div>
            <div class="flex flex-wrap gap-5 justify-content-center">
                <div class="flex flex-column gap-3 align-items-center justify-content-center">
                    <i class="pi pi-chart-line" style="font-size: 2rem"></i>
                    <p class="text-item w-9 text-center">Small and large projects</p>
                </div>
                <div class="flex flex-column gap-3 align-items-center justify-content-center">
                    <i class="pi pi-shield" style="font-size: 2rem"></i>
                    <p class="text-item w-9 text-center">Full Value Insurance</p>
                </div>
                <div class="flex flex-column gap-3 align-items-center justify-content-center">
                    <i class="pi pi-percentage" style="font-size: 2rem"></i>
                    <p class="text-item w-9 text-center">95% Referral Rate</p>
                </div>
                <!-- <div class="relative">
                <div class="card-process">
                    <i class="pi pi-chart-line" style="font-size: 2.5rem"></i>
                    <h2>Small and large projects</h2>
                </div>
                <div class="card-process-back">
                </div>
            </div>
            <div class="relative">
                <div class="card-process">
                    <i class="pi pi-shield" style="font-size: 2.5rem"></i>
                    <h2>Full Value Insurance</h2>
                </div>
                <div class="card-process-back">
                </div>
            </div>
            <div class="relative">
                <div class="card-process">
                    <i class="pi pi-percentage" style="font-size: 2.5rem"></i>
                    <h2>95% Referral Rate</h2>
                </div>
                <div class="card-process-back">
                </div>
            </div> -->
            </div>
        </div>
        <!-- <div class="p-0">
            <img src="../../../../../assets/image/splash2.png" width="100%" alt="">
        </div> -->
    </div>
</section>