.bg-image{
    // background-image: url('../../../../../assets/image/banner3.jpg');
    background-position: center;
    background-attachment: local;
    background-size: cover;
}

.bg-color{
    background-color: #fcfcfd;
}

.texto-sobre-fondo {
    backdrop-filter: blur(1px); /* Ajusta el valor de desenfoque según tus preferencias */
    background-color: rgba(232, 228, 228, 0.104); /* Ajusta el color de fondo y la opacidad según tus preferencias */
    // padding: 20px;
}

.text-dark{
  color: #2a2a2a;
}

.text-header,
.content-items {
  opacity: 0;
}

.item-work{
  width: 15%;

  @media (min-width: 1140){
    width: 5%;
}
}

.text-item{
  font-size: 20px;
}

.relative {
    width: 300px; /* Establece el ancho deseado */
    // height: 300px; /* Establece la altura deseada */
    text-align: center; /* Centra el texto horizontalmente */
    position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
  }
  
  .card-process {
    display: flex;
    // flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;

    i{
        color: #ffd200;
    }
  }
  
  .card-process h2 {
    margin: 0; /* Elimina el margen predeterminado del h2 */
  }
  
  .card-process-back {
    background-color: #ffd200; /* Cambia el color de fondo según tus preferencias */
    position: absolute;
    top: 5px; /* Ajusta la distancia que quieres que sobresalga por debajo */
    left: 1px; /* Ajusta la distancia que quieres que sobresalga por los lados */
    right: 1px; /* Ajusta la distancia que quieres que sobresalga por los lados */
    bottom: -5px; /* Ajusta la distancia que quieres que sobresalga por debajo */
    border-radius: 6px;
    z-index: 1; /* Asegura que card-process-back esté detrás de card-process */
    opacity: 0; /* Hace que la capa esté inicialmente invisible */
    transition: opacity 0.3s ease; /* Añade una transición suave para el efecto */
  }
  
  .relative:hover .card-process-back {
    opacity: 1;
  }