<section id="section-ourworkflow" class="bg-light pt-8">
    <div class="container flex flex-column align-items-center gap-7">
        <div class="text-header">
            <h1 class="text-header-section" data-animation="show">Our Work Process</h1>
        </div>
        <div class="services flex align-items-end">
            <div class="col-7 pb-8">
                <div class="flex align-items-start gap-4">
                    <div class="flex align-items-baseline gap-4">
                        <span class="step">STEP 1</span>
                        <div class="pointer flex flex-column align-items-center">
                            <span><i class="pi pi-cog circle circle-yellow" style="font-size: 1rem"></i></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="description flex flex-column gap-4">
                        <h2>Planning</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur minus sunt odio
                            dolores aperiam quasi beatae soluta, harum culpa neque et consectetur rem voluptates
                            quaerat. Optio est quam fuga?</p>
                    </div>
                </div>
                <div class="flex align-items-start gap-4">
                    <div class="flex align-items-baseline gap-4">
                        <span class="step">STEP 2</span>
                        <div class="pointer flex flex-column align-items-center">
                            <span><i class="pi pi-palette circle circle-yellow" style="font-size: 1rem"></i></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="description flex flex-column gap-4">
                        <h2>Do samples</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur minus sunt odio
                            dolores aperiam quasi beatae soluta, harum culpa neque et consectetur rem voluptates
                            quaerat. Optio est quam fuga?</p>
                    </div>
                </div>
                <div class="flex align-items-start gap-4">
                    <div class="flex align-items-baseline gap-4">
                        <span class="step">STEP 3</span>
                        <div class="pointer flex flex-column align-items-center">
                            <span><i class="pi pi-print circle circle-yellow" style="font-size: 1rem"></i></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="description flex flex-column gap-4">
                        <h2>Printing</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur minus sunt odio
                            dolores aperiam quasi beatae soluta, harum culpa neque et consectetur rem voluptates
                            quaerat. Optio est quam fuga?</p>
                    </div>
                </div>
                <div class="flex align-items-start gap-4">
                    <div class="flex align-items-baseline gap-4">
                        <span class="step">STEP 4</span>
                        <div class="pointer flex flex-column align-items-center">
                            <span><i class="pi pi-truck circle circle-yellow" style="font-size: 1rem"></i></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="description flex flex-column gap-4">
                        <h2>Shipping</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur minus sunt odio
                            dolores aperiam quasi beatae soluta, harum culpa neque et consectetur rem voluptates
                            quaerat. Optio est quam fuga?</p>
                    </div>
                </div>

            </div>
            <div class="col-5 pb-0">
                <img class="img-agent"
                    src="https://img.freepik.com/foto-gratis/puntos-joven-feliz-bandera-blanco-blanco_186202-4405.jpg?w=740&t=st=1697761098~exp=1697761698~hmac=e03d37d517854cb6110468960f5c7a218a7133a55f0668812cadc9fbac9fe7f3"
                    width="100%" alt="">
            </div>
        </div>
    </div>
</section>