<section class="presentation pt-8 flex flex-column gap-5 align-items-center justify-content-center" >
    <!-- <div class="texto-sobre-fondo"> -->
        <div class="text-header mt-5" [class.fade-in-bottom]="visible1">
            <h1 class="text-header-section">Get In Touch With Us</h1>
        </div>
        <div class="text-body container flex align-items-baseline gap-3" [class.fade-in-bottom]="visible2">
            <i class="fa-solid fa-quote-left"></i>
            <div>
                <p>
                    Tshirtguys” was founded in 1989. By two partners who are based out of San Jose, California. Their name’s are Frank De la Cruz and Javier Vega. They started off as a small screen printing company which due to its location catered to the world renowned Silicon Valley, as well as mom and pop shops. We have provided printed t-shirts with logos varying from Apple Computers , all the way to Super Mercado’s uniforms and Boys and Girls clubs . 
                </p>
                <br>
                <p>
                    In 2005 the partners made a decision to move the factory and production to Ensenada, Baja California, where two more partners were added. Those two partners are Maria Rodriguez and Rafael Espinoza. With Frank De La Cruz and Javier Vega taking care of the financial aspect in Mexico it opened up the door for Maria to develop sales for this Mexico-based company in the Los Angeles fashion industry. As well as opening the door for Rafael Espinoza to develop effective training methods and methods of implementation. With all these strategic moves “Tshirtguys” was reborn. This also helped Ensenada open up to a new industry which is screen printing on textile garments as well as packaging
                </p>
            </div>
        </div>
    <!-- </div> -->
</section>