<section class="presentation p-8 flex align-items-center" >
    <div class="texto-sobre-fondo">
        <div class="text container flex align-items-baseline gap-3">
            <i class="fa-solid fa-quote-left"></i>
            <h2>
                Tell us the details of your project and have the confidence that we can work on it and deliver on time with the best possible quality, whether your project is medium or large, we are supported by works that we have done for companies such as Windows, amazon, T-movile, starbucks and more.
            </h2>
        </div>
    </div>
</section>