.bg1{
    background-image: url('https://fos.com.mx/cdn/shop/files/b0-min.jpg?v=1692656789&width=2000');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg2{
    background-image: url('https://fos.com.mx/cdn/shop/files/b2-min.jpg?v=1692656903&width=2000');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}