<section class="footer-section bg-dark py-7">
    <div class="wave"></div>
    <!-- <div class="container mt-7 flex flex-wrap gap-5">
        <div class="flex flex-column gap-3 align-items-start text-light w-3">
            <h1>tshirtGuys</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, quas doloremque. Fugit, blanditiis quis obcaecati aperiam velit ea quae</p>
            <h2>Info.</h2>
            <div class="flex gap-2 align-items-center">
                <i class="pi pi-clock" style="font-size: 1rem; color: #ffd200;"></i>
                <p>Mon - Fri: 8am - 3pm</p>
            </div>
            <div class="flex gap-2 align-items-center">
                <i class="pi pi-map-marker" style="font-size: 1rem; color: #ffd200;"></i>
                <span>Ave. Independecia No.1245, Mexico</span>
            </div>
            <div class="flex gap-2 align-items-center">
                <i class="pi pi-envelope" style="font-size: 1rem; color: #ffd200;"></i>
                <span>info@tshirtguys.com</span>
            </div>
            <div class="flex gap-2 align-items-baseline">
                <i class="pi pi-phone" style="font-size: 1rem; color: #ffd200;"></i>
                <div class="flex flex-column">
                    <span>MX +52 646 173 31 44</span>
                    <span>USA 1 619 793 4635 x116</span>
                </div>
            </div>
        </div>
        <div class="flex flex-column gap-3 align-items-start text-light w-3">
            <h1>tshirtGuys</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, quas doloremque. Fugit, blanditiis quis obcaecati aperiam velit ea quae</p>
        </div>
        <div class="flex flex-column gap-3 align-items-start text-light w-3">
            <h1>tshirtGuys</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, quas doloremque. Fugit, blanditiis quis obcaecati aperiam velit ea quae</p>
        </div>
        <div class="flex flex-column gap-3 align-items-start text-light w-2">
            <h1>tshirtGuys</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, quas doloremque. Fugit, blanditiis quis obcaecati aperiam velit ea quae</p>
        </div>
    </div> -->
    <div class="container mt-7 flex flex-wrap justify-content-between gap-3">
        <div class=" flex flex-column gap-3 align-items-start text-light w-30rem pt-7">
            <h1>tshirtGuys</h1>
            <p>Tell us the details of your project and have the confidence that we can work on it and deliver on time with the best possible quality, whether your project is medium or large.</p>
            <h2>Info.</h2>
            <div class="flex gap-2 align-items-center">
                <i class="pi pi-clock" style="font-size: 1rem; color: #ffd200;"></i>
                <p>Mon - Fri: 8am - 3pm</p>
            </div>
            <div class="flex gap-2 align-items-center">
                <i class="pi pi-map-marker" style="font-size: 1rem; color: #ffd200;"></i>
                <span>C. Huerta 282, 22895 Ensenada, B.C., Mexico</span>
            </div>
            <div class="flex gap-2 align-items-center">
                <i class="pi pi-envelope" style="font-size: 1rem; color: #ffd200;"></i>
                <span>info@tshirtguys.com</span>
            </div>
            <div class="flex gap-2 align-items-baseline">
                <i class="pi pi-phone" style="font-size: 1rem; color: #ffd200;"></i>
                <div class="flex flex-column">
                    <span>MX +52 646 173 31 44</span>
                    <span>USA 1 619 793 4635 x116</span>
                </div>
            </div>
        </div>
        <div class=" flex flex-column gap-3 align-items-start text-light w-20rem pt-7">
            <h1>Resources</h1>
            <ul class="links">
                <!-- <li><i class="fa-solid fa-caret-right"></i><a (click)="navigateTo('section-about')">About us</a></li> -->
                <li><i class="fa-solid fa-caret-right"></i><a href="https://tshirtguys.espwebsite.com/" target="_blank">Promotional Products</a></li>
                <li><i class="fa-solid fa-caret-right"></i><a routerLink="/contact">Contact</a></li>
                <li><i class="fa-solid fa-caret-right"></i><a routerLink="/samples">Samples</a></li>
                <li><i class="fa-solid fa-caret-right"></i><a (click)="navigateTo('faq')">FAQs</a></li>
            </ul>
        </div>
        <div class=" flex flex-column gap-4 align-items-start text-light w-3 w-20rem pt-7">
            <h1>Newsletter Subscription</h1>
            <div class="suscribe-form flex flex-wrap gap-3">
                <input class="input-suscribe" type="text" pInputText [(ngModel)]="value" />
                <a href="#" pRipple class="btn btn-suscribe styled-box-orange">Suscribe</a>
            </div>
            <div class="social-media flex gap-4">
                <i class="pi pi-twitter" style="font-size: 1.7rem"></i>
                <i class="pi pi-linkedin" style="font-size: 1.7rem"></i>
                <i class="pi pi-facebook" style="font-size: 1.7rem"></i>
                <i class="pi pi-instagram" style="font-size: 1.7rem"></i>
            </div>
        </div>
    </div>
</section>
<div class="copyright py-3">
    <p> © 2023 by D2america Created with Angular</p>
</div>